<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="softhealth.zombiecatch">

    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="15"/>

    <uses-permission android:name="android.permission.INTERNET"/>
   <application android:allowBackup="true" android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/Background">
        <activity android:label="@string/app_name" android:name="softhealth.zombiecatch.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/title_activity_menu" android:name="softhealth.zombiecatch.Menu">
        </activity>
        <activity android:label="@string/title_activity_menu" android:name="softhealth.zombiecatch.MenuActivity">
        </activity>
        <activity android:label="@string/title_activity_register" android:name="softhealth.zombiecatch.RegisterActivity">
        </activity>
        <activity android:label="@string/title_activity_howto" android:name="softhealth.zombiecatch.HowToActivity">
        </activity>
        <activity android:label="@string/title_activity_profile" android:name="softhealth.zombiecatch.ProfileActivity">
        </activity>
        <activity android:label="@string/title_activity_stats" android:name="softhealth.zombiecatch.StatsActivity">
        </activity>
        <activity android:label="@string/title_activity_levelup" android:name="softhealth.zombiecatch.LevelUpActivity">
        </activity>
        <activity android:label="@string/title_activity_join" android:name="softhealth.zombiecatch.JoinActivity">
        </activity>
        <activity android:label="@string/title_activity_create" android:name="softhealth.zombiecatch.CreateActivity">
        </activity>
        <activity android:label="@string/title_activity_lobby" android:name="softhealth.zombiecatch.LobbyActivity">
        </activity>
        <activity android:label="@string/title_activity_gameScreenZ" android:name="softhealth.zombiecatch.GameScreenZActivity">
        </activity>
          <activity android:label="@string/title_activity_gameScreenH" android:name="softhealth.zombiecatch.GameScreenHActivity">
        </activity>
        <activity android:label="@string/title_activity_scoreBoard" android:name="softhealth.zombiecatch.ScoreBoardActivity">
        </activity>
        
    </application>

</manifest>